@import "../../common/colors.scss";

.card-item{
    background-color: $secondary-color;
    cursor:pointer;
    transition: all 0.3s, box-shadow 0.3s;
    min-height : 450px;
    height:100%;
    margin : 40px 10px;
    
    &:hover{
        transform: scale(1.1);
        transition: all 0.3s;
        box-shadow: 0 0 20px rgba(240, 241, 242, 0.8);
    }
}

.card-top{
    height : 300px;

    img{
        height : 100%;
        width : 100%;
    }

}

.card-bottom{
    padding : 20px;
}

.card-info{
    color : $font-primary;
    height:100px;
    h4{
        font-size:22px;
        font-weight:400;
        margin-bottom: 10px;
        overflow:hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
