@import "../../common/colors.scss";

.movie-list, .series-list{
    margin : 20px 0px;
    h2{
        color : $font-secondary;
        font-weight: 400;
        margin : 0px 10px;
    }

}

.movies-error, .series-error{
    display : flex;
    justify-content: space-evenly;
    padding : 40px 0px;
    color : $font-primary;
    font-weight: 400;
}

.loading-style{ 
    display : flex;
    justify-content: space-evenly;
    padding : 40px 0px;
    color : $font-primary;
    font-weight: 400;
}







